body {
    box-sizing: border-box;
    font-family: "Verdana", "Tahoma", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.categories-link {
    margin-left: auto;
}

.title-container {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 32px;
}

.title-text {
    display: flex;
    flex-direction: column;
}

#title {
    margin: 0;
}

#image-container {
    max-width: 50%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#title-image {
    width: 100%;
    align-self: flex-end;
}

.categories {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.category-title,
.top-container {
    margin: 16px;
}

.category-title {
    font-size: 28px;
}

.top-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 200px;
    text-align: center;
    border: solid rgba(3, 42, 3, 0.619);
    border-radius: 5px;
    padding: 10px;
}

.top-description {
    max-width: 200px;
}

.top-img {
    width: 200px;
    height: 200px;
}

.signup-button,
.top-button {
    border-radius: 4px;
    border:solid rgb(243, 238, 229);
    padding: 0.3rem 1rem;
    font-weight: bold;
}

.top-button {
    background-color:rgb(243, 238, 229);
    border: solid black;
    font-size: 16px;
}

.signup-button {
    background-color: rgb(3, 42, 3);
    color:rgb(243, 238, 229);

}

#quote-credit {
    text-align: right;
    font-size: 24px;
    font-style: italic;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-container {
    background-color:rgb(65, 91, 65);
    max-width: 700px;
    margin: 70px 0;
    padding: 16px;
    color:rgb(243, 238, 229);
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 24px;
}

.categories,
.subscribe {
    background-color: rgb(243, 238, 229);
    padding-inline: min(5vw, 200px);
}

.header,
.title-container,
.footer,
.quote {
    background-color: rgb(3, 42, 3);
    color: rgb(243, 238, 229);
    padding-inline: min(10vw, 200px);
}

a {
    text-decoration: none;
    color: rgb(232, 224, 209);
    padding: 16px 8px 0 8px;
}

h2 {
    margin: 0
}